@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #e0f2fe; /* Light background */
}

::-webkit-scrollbar-thumb {
    background-color: #1e3a8a; /* bg-blue-900 equivalent */
    border-radius: 10px;
    border: 3px solid #e0f2fe;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1c326d; /* Darker blue on hover */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #1e3a8a #e0f2fe; /* Blue thumb and light background */
}
